
  body {
    background-color: lavender;
  }
  hr {
    border-style: dotted none none;
    border-color: lightslategray;
    border-width: 10px;
    width: 5%;
  }
  h1, h3 {
      color: #66BFBF;
  }
